@import "tailwindcss" /* shared style */ /* font styles */ .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.frame {
  max-width: 1140px;
  margin: 30px auto;
}
.description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
.btn-primary {
  color: white;
  background-color: #e95a08;
  padding: 26px 50px;
  font-size: 1.25rem;
  font-weight: 600;
}
.btn-secondary {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
/* nav style */
/* nav {
  display: flex;
  
} */

/* banner styles */
.span-colour {
  color: #e95a08;
}

/* product section */
.product-section img {
  width: 100%;
}
.newslater {
  max-width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

/* responsive style */
@media screen and (max-width: 576px) {
  nav .r,
  .badge {
    display: none;
  }
  nav {
    justify-content: space-between;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    h1 {
      font-size: 3rem;
      line-height: normal;
      margin-top: 30px;
    }
  }

  .product-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .shop {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2.5rem;
    }
  }
  .latest-deals {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .discount-items,
  .items-1 {
    display: flex;
    flex-direction: column;
  }
  .newslater {
    margin-top: 6rem;
    h1 {
      font-size: 3rem;
    }
    input {
      flex-grow: 1;
      width: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button {
      width: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .c {
      flex-direction: row;
      gap: 0;
    }
    img {
      width: fit-content;
      height: 25rem;
    }
  }

  .containt {
    margin-top: 6rem;
  }
  footer,
  .menue {
    display: flex;
    flex-direction: column;
  }
  .lover-title ul {
    padding: 0;
  }
  header,
  body,
  footer {
    padding: 10px 20px;
  }
}
